@model IEnumerable<Labo2ASPdotNet.Models.Entities.Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard Responsive";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Responsive</title>
    <link rel="stylesheet" href="~/Assets/Main/Dashboard/css/style.css">
</head>

<body>
    <h1><span class="blue">&lt;</span>Table<span class="blue">&gt;</span> <span class="yellow">Responsive</span></h1>
    <h2>Created with love by <a href="http://pablogarciafernandez.com" target="_blank">Pablo García Fernández</a></h2>

    <table class="container">
        <thead>
            <tr>
                <th><h2>@Html.DisplayNameFor(model => model.Name)</h2></th>
                <th><h2>@Html.DisplayNameFor(model => model.Price)</h2></th>
                <th><h2>@Html.DisplayNameFor(model => model.Quantity)</h2></th>
                <th><h2>Total</h2></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Labo2ASPdotNet.Models.Entities.Product product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity</td>
                    <td>@product.Price * @product.Quantity</td>
                </tr>    
            }
        </tbody>
    </table>
</body>
</html>
